daptinweb/node_modules
*.iml
.idea/
temp.*daptin.json

.quasar
/dist
storage
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
docker_dir/
npm-debug.log
rice-box.go
build/
projectFilesBackup/
daptinweb/static/samples/devsupport.json
main
!/daptinweb/dist/*
vendor/
dist
/logs.log
_*.*
migration.sql
.vscode/
daptin.db
daptin.sql
temp/
daptin.log
.DS_Store
*.log
daptin_test.db
