gomsweb/node_modules
*.iml
.idea/
temp.*gocms.json

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
docker_dir/
npm-debug.log
rice-box.go
bin/
build/
projectFilesBackup/
gomsweb/static/samples/devsupport.json
main
!/gomsweb/dist/
