1daptinweb/**
daptinweb/node_modules
*.iml
.idea/
temp.*daptin.json

/dist
storage
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
docker_dir/
npm-debug.log
build/
projectFilesBackup/
main
!/daptinweb/dist/*
vendor/
dist
/logs.log
_*.*
migration.sql
.vscode/
daptin.db
daptin.sql
temp/
daptin.log
.DS_Store
*.log
daptin_test.db
bin/
github.com
daptin.exe
daptin
*.prof
*.dbdocs_markdown/site
docs_markdown/site/*
daptinweb/

profiles/
